<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>H1 text</h1>
    <h2>H2 text</h2>
    <h3>H3 text</h3>

    <p>Focus on what matters instead of fighting with Git. Whether you're new to Git or a seasoned user, GitHub Desktop
        simplifies your development workflow.</p>
    <a href="https://desktop.github.com/download/" target="_blank">Python</a>
    <img src="https://kottke.org/cdn-cgi/image/format=auto,fit=scale-down,width=1200,metadata=none/plus/misc/images/sun-mccarthy-01.jpg" style="width: 250px">
</div>
</body>
</html>